body {
  background: url('/fileadmin/template/assets/images/bg.jpg') no-repeat center bottom fixed;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/template/assets/images/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/template/assets/images/bg.jpg', sizingMethod='scale');
}
