h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

small {
  display: block;
  font-weight: 500;
  line-height: 2 !important;
}

ul {
  list-style-image: url('/fileadmin/template/assets/images/dreieck.png');

  p {
    margin: 0;
  }
}
